<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Heppafoorumi - Alueet</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <style>
            .body {
                background-color: #808080;
            }

            .header {
                width: 80%;
                height: 100%;
                background-color: Lavender;
                margin-left: 100px;
                border-left-width: thin;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: #000 8px 6px 8px;
            }

            .section {
                width: 80%;
                height: 100%;
                background-color: Lavender;
                margin-left: 100px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: #000 8px 6px 8px;
            }

            .footer {
                width: 80%;
                height: 100%;
                background-color: Lavender;
                margin-left: 100px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: #000 8px 6px 8px;
            }

            .h1 {
                color: #8b0e0e;
                text-align: center;
                font-size: 60px;
                text-shadow: 3px 3px 3px #332;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .h2 {
                text-align: left;
                font-size: 40px;
                margin-left: 10px;
                margin-top: 10px;
            }

            .h3 {
                margin-bottom: 10px;
                margin-top: 10px;
                text-align: center;
            }

            .p {
                text-align: left;
                margin-left: 10px;
            }

            .list-group-item {
                text-align: left;
                font-size: 35px;
                margin-left: 10px;
                width: 30%;
            }

            .img {
                float: right;
                margin: 10px 10px;
                width: 300px;
            }

            .form-group {
                margin-left: 15px;
                margin-bottom: 15px;
            }

            .form-inline {
                margin-bottom: 10px;
            }

            .list-group {

            }

            .list-group-item-info {

            }

            .span {
                margin-left: 25px;
                margin-bottom: 10px;
                font-size: 24px;
            }

            .form-control {

            }

            .btn {

            }

            .btn-success {

            }

        </style>
    </head>

    <body class="body">

        <header class="header">
            <h1 class="h1">Tervetuloa Heppafoorumille!</h1>
        </header>

        <nav>

        </nav>

        <section class="section">
            <img class="img" src="/images/hevonen.jpg" alt="Uljas hevonen"></img>
            <h2 class="h2">Kohtaamispaikka todellisille heppahulluille</h2>

            <hr/>

            <h2 class="h2">Valitse mieleisesi alue:</h2>
            <div class="list-group">
                <form action="/poistaAlue" method="POST">
                    <p th:each="alue : ${alueet}" class="list-group">
                        <a href="#" th:href="@{~/aiheet/{id}(id=${alue.id})}" th:text="${alue.otsikko}" class="list-group-item list-group-item-info">alue</a>
                        <span th:text="${alue.teksti}" class="span">kuvaus</span>
                        <button type="submit" class="btn btn-warning">Poista!</button>
                    </p>
                </form>
            </div>

            <form action="/" method="POST" class="form-inline">
                <div class="form-group">
                    <label>Lis&auml;&auml; alue:</label>
                    <input type="text" name="otsikko" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Kuvaus:</label>
                    <input type="text" name="kuvaus" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-success">Lis&auml;&auml;!</button>
            </form>

        </section>

        <footer class="footer">
            <h3 class="h3">Copyright @ Heppahullut</h3>
            <h3 class="h3">Tietokantojen perusteet 2016</h3>
        </footer>

    </body>
</html>
